<% if current_user && current_user.admin  %>
  <h2>Add User</h2>
  <%= render "devise/shared/signup_form" %>
<% elsif current_user && !current_user.admin %>
  <h2>Unable to access this page.</h2>
<% else %>
  <h2>Sign Up</h2>
  <%= render "devise/shared/signup_form" %>
<% end %>