

<div class= "user-list">
    <% @trending_stocks.each do |stock|%>
        <div class= "user-list-card">
            <div>
                <span class="user-list-card-name"><%= stock.company_name %></span>
            <p><%= stock.symbol %></p>
            </div>
            <div class="user-button-container">
                <%= link_to show_stock_path(stock), class: "btn btn-success add-user" do %> 
                        <i class='bx bxs-cart' ></i> 
                <% end %>
                <%= link_to root_path, class: "btn btn-danger delete-user" do %> 
                        <i class='bx bxs-trash-alt' ></i> 
                <% end %>
            </div>
        </div>
    <% end %>
</div>